body {
	background-color: rgb(89,89,89)
} 

table th {
	font-size: 25px; color:rgb(170,165,142)
} 

td {
vertical-align:top;
}

.firstcol {
	font-family: verdana; font-style: italic; font-size: 14px; color:rgb(255,255,255)
} 

.red {
	font-family: verdana; font-weight: bold; font-size: 14px; color:rgb(255,0,0)
} 

.orange {
	font-family: verdana; font-weight: bold; font-size: 14px; color:rgb(221,104,48)
} 

.white {
	font-family: verdana; font-size: 14px; color:rgb(255,255,255)
} 
.grey {
	font-family: verdana; font-size: 14px; color:rgb(170,165,142)
} 

.greencircle {
	width: 16px;
	height: 16px;
	border-width: 10px;
	border-style: solid;
	border-color: green;
	border-radius: 50%;
}