.calculator *{margin: 0px; padding: 0px;}
 
.calculator{
    width: 408px;
    height: 377px;
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
	background-image: linear-gradient(bottom, rgb(173,206,238) 27%, rgb(208,230,251) 57%);
	background-image: -o-linear-gradient(bottom, rgb(173,206,238) 27%, rgb(208,230,251) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(173,206,238) 27%, rgb(208,230,251) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(173,206,238) 27%, rgb(208,230,251) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(173,206,238) 27%, rgb(208,230,251) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(173,206,238)), color-stop(0.57, rgb(208,230,251)));

    font-family: Segoe UI;
	font-size: 9px;
    padding: 0 7px 10px;
	opacity: 80%;
}
 
.upper{
    background: url("logo.png") no-repeat; #d0e6fb;
    height: 21px;
    margin: 10px 5px 0px 10px;
}
 
.title{
    padding-left: 18px;
    font-size: 12px;
    float: left;
}
 
.top-right{
    float: right;
    height: 16px;
    width: 29px;
    background: red;
    margin: 0px 0px 0px 0px;
}
 
.minimize{
width: 27px;
height: 18px;
	background-image: linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -o-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(180,199,222)), color-stop(0.57, rgb(231,241,250)));
    border: 1px solid #63748d;
	border-radius: 0px 0px 0px 5px;
}
.minimize:hover{
	background-image: linear-gradient(bottom, rgb(27,113,171) 50%, rgb(170,211,236) 57%);
	background-image: -o-linear-gradient(bottom, rgb(27,113,171) 50%, rgb(170,211,236) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(27,113,171) 50%, rgb(170,211,236) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(27,113,171) 50%, rgb(170,211,236) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(27,113,171) 50%, rgb(170,211,236) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(27,113,171)), color-stop(0.57, rgb(170,211,236)));
    box-shadow: 0 0 5px rgb(27,113,171);
}

#minimize   { 
	border: 1px solid #535666;
	background: #ffffff;
	width:10px;
	height:3px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 8px;
}

#maximize1   { 
	border: 1px solid #a3aec5;
	background: #d6e5f8;
	width:12px;
	height:10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 6px;
	margin-right: 6px;
}

#maximize2   { 
	border: 1px solid #a3aec5;
	background-image: linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -o-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(180,199,222)), color-stop(0.57, rgb(231,241,250)));
	width:6px;
	height:4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.maximize{
	width: 26px;
	height: 18px;
	background-image: linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -o-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(180,199,222) 50%, rgb(231,241,250) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(180,199,222)), color-stop(0.57, rgb(231,241,250)));
    border: 1px solid #859bb5;
}
.close{
width: 46px;
height: 18px;
	background-image: linear-gradient(bottom, rgb(195,113,98) 50%, rgb(244,181,173) 57%);
	background-image: -o-linear-gradient(bottom, rgb(195,113,98) 50%, rgb(244,181,173) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(195,113,98) 50%, rgb(244,181,173) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(195,113,98) 50%, rgb(244,181,173) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(195,113,98) 50%, rgb(244,181,173) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(195,113,98)), color-stop(0.57, rgb(244,181,173)));
    border: 1px solid #431422;
	border-radius: 0px 0px 5px 0px;
}
.close:hover{
	background-image: linear-gradient(bottom, rgb(167,29,7) 50%, rgb(233,152,140) 57%);
	background-image: -o-linear-gradient(bottom, rgb(167,29,7) 50%, rgb(233,152,140) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(167,29,7) 50%, rgb(233,152,140) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(167,29,7) 50%, rgb(233,152,140) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(167,29,7) 50%, rgb(233,152,140) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, rgb(167,29,7)), color-stop(0.57, rgb(233,152,140)));
    box-shadow: 0 0 5px rgb(220,113,98);
}

#close {
	font-size: 12px;
	font-weight: 900;
    color: #ffffff;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 18px;
}

.menu-div {
    height: 18px;
	background-image: linear-gradient(bottom, rgb(223,228,244) 27%, rgb(243,246,251) 57%);
	background-image: -o-linear-gradient(bottom, rgb(223,228,244) 27%, rgb(243,246,251) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(223,228,244) 27%, rgb(243,246,251) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,228,244) 27%, rgb(243,246,251) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(223,228,244) 27%, rgb(243,246,251) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(223,228,244)), color-stop(0.57, rgb(243,246,251)));
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #bfc5d6;
    box-shadow: 0 0 1px #000000;
}

p:first-letter {
text-decoration: underline;
} 
 
.menu-div ul{list-style-type: none;}
 
.menu-div ul li{
    float: left;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 2px;
	
}
 
.calc-body{
	background-image: linear-gradient(bottom, rgb(217,228,241) 27%, rgb(236,244,252) 57%);
	background-image: -o-linear-gradient(bottom, rgb(217,228,241) 27%, rgb(236,244,252) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(217,228,241) 27%, rgb(236,244,252) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,228,241) 27%, rgb(236,244,252) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(217,228,241) 27%, rgb(236,244,252) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(217,228,241)), color-stop(0.57, rgb(236,244,252)));
    height: 309px;
    padding: 10px 12px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px #000000;
}
 
.calc-body div{
    border-radius: 2px;
    color: #1E395B;
}
 
.calc-body .values{
    font-size: 23px;
    line-height: 23px;
    direction: rtl;
    color: #000;
    padding: 16px 5px 10px 0;
	background-image: linear-gradient(bottom, rgb(255,255,255) 27%, rgb(229,239,251) 57%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 27%, rgb(229,239,251) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 27%, rgb(229,239,251) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 27%, rgb(229,239,251) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 27%, rgb(229,239,251) 57%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(255,255,255)), color-stop(0.57, rgb(229,239,251)));
    border: 1px solid #b1bfd0;
}
 
	.binary-container{
	    margin-top: 5px;
	    margin-bottom: 5px;
	    border: 1px solid #b1bfd0;
	}
	.binary{
	    padding: 2px 0x;
	    border: 1px solid #ffffff;
	}
	 
	.binary table{
	    width: 100%;
	    text-align: right;
	    border-collapse: collapse;
	}
	 
	.binary table td{
	    font-size: 12px;
	    border-left: 10px solid #ecf4fc;
		color: #8e6697;
	    padding-right: 10px;
	    font-family: Consolas;
	}
	.binary table tr:nth-child(even){
	    color: #92898e;
	    text-align: left;
	}
	 
	.binary table td:last-child{text-align: right;}

	.radio-button-divs{
	    border: 1px solid #b1bfd0;
	    width: 67px;
	   height: 80px;
	    padding: 8px 0 0 7px;
	    float: left;
	   line-height: 15px;
	}
	.radio-button-divs span{
	    display: block;
	    font-size: 11px;
	    margin-bottom: 4px;
	}
	 
	.radio-button-divs label {
	    font-size: 11px;
	    line-height: 12px;
	    vertical-align: top;
	}
	 
	.buttons table{
	    border-collapse:collapse;
	}
	 
	.buttons table td{
	    height: 26px;
	    font-size: 12px;
	    padding: 0 0 6px 6px;
	}
	 
	.buttons div{
	    border: 1px solid #fff;
		background-image: linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -o-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -moz-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -webkit-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -ms-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(216,227,240)), color-stop(0.57, rgb(239,245,251)));
	    box-shadow: 0px 0px 0px 1px #8797AA;
	    border-radius: 2px;
	    width: 30px;
	    height: 23px;
	    text-align: center;
	    line-height: 23px;
	    vertical-align: middle;
	    cursor: pointer;
	    font-size: 11px;
	}
	 
	.buttons table td:nth-child(3) div{
	    font-size: 16px;
	    line-height: 21px;
	}
	 
	.buttons div:hover {
		background-image: linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -o-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -moz-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -webkit-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -ms-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(251,219,130)), color-stop(0.57, rgb(254,237,223)));
	    box-shadow: 0 0 0 1px #f5f50f;
	    border-style: outset;

}	 
	.buttons .disabled, .buttons .disabled:hover{
	    background: none;
	    box-shadow: 0 0 0;
	    border-color: #B4C2D1;
	    cursor: default;
	}
	 
	.buttons .button-no-bg{
	    background: none;
	}
	 
	.buttons .number{
		background-image: linear-gradient(bottom, rgb(241,249,254) 27%, rgb(247,251,255) 57%);
		background-image: -o-linear-gradient(bottom, rgb(241,249,254) 27%, rgb(247,251,255) 57%);
		background-image: -moz-linear-gradient(bottom, rgb(241,249,254) 27%, rgb(247,251,255) 57%);
		background-image: -webkit-linear-gradient(bottom, rgb(241,249,254) 27%, rgb(247,251,255) 57%);
		background-image: -ms-linear-gradient(bottom, rgb(241,249,254) 27%, rgb(247,251,255) 57%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(241,249,254)), color-stop(0.57, rgb(247,251,255)));
	    font-size: 15px;
	}
	 
	.buttons .arrow{
	    font-size: 25px;
	    font-weight: bold;
	    line-height: 18px;
	}
	 
	.buttons .equals{
	    height: 55px;
	    vertical-align: middle;
	    line-height: 52px;
	    font-size: 22px;
	    font-weight: bold;
		background-image: linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -o-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -moz-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -webkit-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -ms-linear-gradient(bottom, rgb(216,227,240) 27%, rgb(239,245,251) 57%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(216,227,240)), color-stop(0.57, rgb(239,245,251)));
	}
	.buttons .equals:hover{
		background-image: linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -o-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -moz-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -webkit-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -ms-linear-gradient(bottom, rgb(251,219,130) 27%, rgb(254,237,223) 57%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(251,219,130)), color-stop(0.57, rgb(254,237,223)));
	}
	.buttons .zero{
	    width: 68px
	}