html, body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    float: left;
}

header{
	margin: 0;
	display: inline-block;
	height: 35px; 
	width: 1000px;
	float: right;
	background: url(images/logo.png) no-repeat;
	background-color: #077CC6;
}

main .mainImage{
	display: inline-block;
    position: fixed;
    top: 45px;
    right: 375px;
	float: right;
	border: none;
}
body ul {
  list-style-type: none; 
}

body ul {
float: right;
}

body ul li {
    display: inline-block;
	  top: 50%;
	   transform: translateY(-50%);
}

body ul li a{
	font-size: 13px;
	font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    float: left;
    text-decoration: none;
    color: #E8E0E0;
    text-transform: capitalize;

}


.searchText {
	width: 200px;
	height: 25px;
	margin-right: 5px;
	position: relative;
	display: inline-block;
	float: right;
	  top: 50%;
	   transform: translateY(22%);
}

.menu li{
	display: block;
	float: right;

}

h1{
	font-size: 53px;
	font-weight: normal;
}

p a{
	color: #DC143C;
	text-decoration: none;
}

code{
	display: inline-block;
	font-weight: bold;
	border: 1px solid black;
	font-size: 1.2em;
}

footer{
	 display:table-cell;
 vertical-align: middle;
	text-align: center;
	height: 60px;
	width: 1000px;
	font-size: 11px;
	background-color: #077CC6;
	 color: #FFFFFF;
}

footer .copyright{
 text-transform: capitalize;
 text-decoration: underline;
 color: #FFFFFF;
}

footer a{
 text-transform: capitalize;
 text-decoration: none;
 color: #FFFFFF;
}

